<% if !user_signed_in? %>
       <% provide(:title ,"Home Page") %>
<% end %>
<% if user_signed_in? %>
       <% provide(:title ,"Posts") %>
 <% end %>


<center>
<nav class="navbar navbar-default">
<table class= "table">
	<thead>
		<tr class="success">
		    
			<th>candidate Name</th>
			<th>File Name</th>
			<th>Download link</th>
			<th>Posted_at</th>
			<% if current_user %>
			<th>Action</th>
			<% end %>
			
		</tr>
	</thead>
			<tbody>
			<% @post.each do |p| %>
			<tr class="danger" >
			<td><%= p.user.name %></td>
			<td><%= p.name %></td>
			<td><%= link_to 'Download', p.attachment_url %></td>
			<td><%= time_ago_in_words(p.created_at) %> ago</td>
			<% if p.user == current_user %>
			<td><%=  link_to 'Delete', p, method: :delete, confirm: "Are you sure to delete #{p.name}?" %></td>
			<% end %>
			</tr>
			</tbody>
			<% end %>
		</tbody>
		
	</table>
	</nav>
	<h4><%= link_to "New Post",new_post_path %> </h4>
	<br> 
	<% if user_signed_in? %>
     <h4> <%= link_to('Logout',destroy_user_session_path, :method => :delete) %>
        <% end %>
        </h4>
	</center>
	
