 <% provide(:title ,"New Post") %>



<% if flash[:errors] %>
<p> <% flash[:errors].each do |err| %></p>
<div class="row">
<p class="success"> <%= err %> </p>
<% end %>
<% end %>




<%= form_for @post do |f| %>
<div class="col-sm-12">
<%= f.text_field :name,class: "form-control", placeholder: "File Name" %>
</div>

<div class="col-sm-12">
<br>
<%= f.file_field :attachment %>
<br>
</div>

<div class="col-sm-12">
<%= f.submit "Save", class: "btn btn-primary btn-block" %></div>
<% end %>

