 <% provide(:title ,"New Post") %>

<center>

<% if flash[:errors] %>
<p> <% flash[:errors].each do |err| %></p>
<div class="row">
<p class="text-danger"> <%= err %> </p>
<% end %>
<% end %>



<%= form_for @post do |f| %>
<%= f.label :Filename %>
<%= f.text_field :name %>
<br> 
<br>
<%= f.label :file %>
<%= f.file_field :attachment %>
<br>
<br>
<%= f.submit "Save" %>
<% end %>
<br>
<br>
<% if user_signed_in? %>
<h4><%= link_to "Posts",posts_path %></h4>
<% end %>
</center>